.h1left{
    text-align: left;
}
.titleSize{
    font-size: 2em;
}
.text{
    text-align: right;
    font-size: .9em;
    word-break: normal;
}

.letter{
    transition:font-size .5s, color .2s;
}
.letter:hover, .letter:focus{
    color:red;
    font-size: 1.2em;
}
@media screen and (min-width:576px) {
    .h1left{
        text-align: left;
    }
    .titleSize{
        font-size: 5em;
    }
    .text{
        text-align: right;
        font-size: 1.5em;
    }
}