.h1left{
    text-align: left;
    border-left: 1px dashed black;
}
.titleSize{
    font-size: 2em;
    margin: 0;
}
.titleDev{
    border-top : 1px dashed black;
    border-bottom: 1px dashed black;
}
.text{
    text-align: right;
    border-right: 1px dashed black;
    font-size: .9em;
    word-break: normal;
}

.letter{
    transition:font-size .5s, color .2s;
}
.letter:hover, .letter:active{
    color:red;
    font-size: 1.2em;
}
.about{
    font-size: 1.5em;
    transition: font-size .5s;
}
.about:hover{
    font-size: 1.7em;
}
@media screen and (min-width:576px) {
    .h1left{
        text-align: left;
    }
    .titleSize{
        font-size: 5em;
    }
    .text{
        text-align: right;
        font-size: 1.5em;
    }
}