.h1left{
    text-align: left;
    border-left: 1px dashed black;
}
.titleSize{
    font-size: 2em;
    margin: 0;
}
.titleDev{
    border-top : 1px dashed black;
    border-bottom: 1px dashed black;
}
.text{
    text-align: right;
    border-right: 1px dashed black;
    font-size: .9em;
}

.letter{
    transition:font-size .5s, color .2s;
}
.letter:hover, .letter:active{
    color:#00fff2;
    font-size: 1.2em;
}
.about{
    position:absolute;
    font-size: 1em;
    transition: font-size .5s;
    width:fit-content !important; /* I dont like it but i need !important to override bootstrap class*/
    top:30%;
    left:65%;
    border-bottom: 1px dashed gray;
}
.about:hover{
    color:#00fff2;
    font-size: 1.7em;
}
@media screen and (min-width:576px) {
    .about{
        font-size: 1.2em;
    }
    .h1left{
        text-align: left;
    }
    .titleSize{
        font-size: 5em;
    }
    .text{
        text-align: right;
        font-size: 1.5em;
    }
}