/* One page Scrolling*/

#content-container{
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    height: 100vh;
    scrollbar-width: none;
}

.block-section{
    background:#102B3F;
    scroll-snap-align: start;
}