#mdl-container{
    position: absolute;
    left:calc(50% - 40%);
    top:calc(50% - 40%);
    height:80%;
    width:80%;
    z-index:10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-section{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 1s, top 1s;
}
#mdl-1{
    height: fit-content;
    padding:2em;
    background-color: #153751 ;
    left: -10vh;
    height:70%;
    border-radius: 4px 4px 0 0;
    overflow: scroll;
}
#mdl-2{
    height:fit-content;
    background-color: lightgray;
    left: 10vh;
    border-radius: 0 0 4px 4px;
}
.opacity-anim{
    transition: opacity 2s, height 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#mdl-text{
    font-size: .85em;
    margin:auto;
    text-align: start;
}
#mdl-title{
    font-size:1em;
    border-bottom: 1px dashed rgb(65, 65, 65);
}
#tech-list{
    justify-content: center;
    flex-wrap: wrap;
    padding:1em;
    font-size: .75em;
    display: flex;
    gap:1.5em;
}
#tech-list li{
    margin:.2em;
}
#bio{
    margin-top:10em; /* Doing this because overflow scroll will hide the top part of the text for some reasons */
}

@media screen and (min-width:578px){
    #bio{
        font-size: 1.5em;
    }
}
@media screen and (min-width:992px) {
    #bio{
        margin-top: 0; /* Removing ridiculous margin top fix aka Frozen Bandaid on a leaking gaz pipe*/
    }
    #tech-list{
        font-size: 1em;
    }
    #mdl-title{
        font-size:3em;
    }
    #mdl-text{
        width:70%;
        margin:auto;
        text-align: start;
        font-size:1em;
    }
    #mdl-container{
        flex-direction: row;
    }
    #mdl-1, #mdl-2{
        left: 0;
        height: 100%;
    }
    #mdl-2{
        border-radius: 0 4px 4px 0;
        width:50%;
    }
    #mdl-1{
        border-radius: 4px 0 0 4px;
        overflow: visible;
    }
}
@media (min-height:578px){
    #bio{
        margin-top: .1em;
    }
}