.nav-container{
    visibility: hidden;
    position: fixed;
    z-index: 1000;
}
li{
    list-style: none;
}
.hidden{
    visibility: hidden;
}
.up:first-child::before{
    align-self: flex-end;
    margin-right: .5em;
    display: block;
    content: "";
    width: 1px;
    height:7.5em;
    background-color: black;
}
.down:last-child::after{
    align-self: flex-start;
    margin-left: .5em;
    display: block;
    content: "";
    width: 1px;
    height:7.5em;
    background-color: black;
}
@media (min-width:768px) {
    .nav-container{
        visibility: visible;
        display: block;
    }
}