.nav-container{
    visibility: hidden;
    position: fixed;
    z-index: 1000;
}
li{
    list-style: none;
    font-size: 1.7em;
    transition: font-size .5s;
}
.nav-container li:hover{
    font-size: 2.5em;
}
.hidden{
    visibility: hidden;
}
.up:first-child::before{
    margin-left: 93%;
    display: block;
    content: "";
    width: 1px;
    height:7.5em;
    background-color: white;
}
.down:last-child::after{
    margin-left: 7.5%;
    display: block;
    content: "";
    width: 1px;
    height:7.5em;
    background-color: white;
}
@media (min-width:768px) {
    .nav-container{
        visibility: visible;
        display: block;
    }
}